.background_top {
    background-image: url(img/background_top.png);
        background-color: rgb(35, 40, 49);
        background-repeat: none;
        left: -1px;
        top: -1px;
        width: 1600px;
        height: 891px;
        z-index: 109;
  }

.logo{
    position: absolute;
    margin-top: 50px;
    margin-left: 85px;
}  

.search {
    background-color: rgb(52, 60, 72);
    border-radius: 50px;
    position: absolute;
    left: 1096px;
    top: 60px;
    width: 262px;
    height: 44px;
    z-index: 176;
  }
  
.search_txt{
    padding-top: 13px;
    padding-left: 31px;
    font-size: 14px;
    color: #9da5b0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.search_img{
    padding-left: 90;
    fill: #9da5b0;
}

.buy {
    background-color: rgb(131, 95, 168);
    width: 116px;
    height: 44px;
    border-radius: 50px;
  }

.buy1{
    left: 1373px;
    top: 60px;
    display: block;
    position: absolute;
}

.menu {
    position: absolute;
    left: 1511.937px;
    top: 70.5px;
  }

.home_text_one{
        font-size: 70px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgb(255, 255, 255);
        position: absolute;
        left: 652.698px;
        top: 279px;
        width: 700px;
        height: 161px;
      }
      
.home_text_two{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  left: 655.916px;
  top: 510px;
  width: 544px;
  height: 47px;
  z-index: 112;
}

.block_two {
    background-color: rgb(131, 95, 168);
    left: -1px;
    top: 867px;
    width: 1600px;
    height: 500px;
    z-index: 115;
  }

.two_text{
  margin-top: 100px;
  margin-left: 210px;
  position: absolute;
}

.two_text_string{
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 40px;
}

.two_text_paragraph{
  width: 460px;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-top: 60px;
}

.two_phone{
    position: absolute;
    left: 947px;
    top: 650px;
    width: 423px;
    height: 849px;
    z-index: 0;
}

.two_interface{
  padding-top: 230px;
  padding-left: 701px;
}

.two-flex{
  display: flex;
}

.two_button{
  background-color: rgb(61, 210, 174);
  width: 164px;
  height: 44px;
  border-radius: 50px;
  color: white;
  font-family:'Open Sans', sans-serif;
  font-weight: 1,600;
  margin-top: 40px;
}

.block_three_background{
    background-color: rgb(244, 248, 251);
    background-image: url(img/block-three.png);
    left: -0px;
    top: 500px;
    width: 1600px;
    height: 536px;
    z-index: 126;
}


.three_txt{
  margin-left: 210px;
  display: flex;
  width: 1140px;
}

.three_txt1{
  width: 350px;
  margin-top: 87px;
}
.three_txt2{
  width: 350px;
  margin-left: 40px;
  margin-top: 87px;
}
.three_txt3{
  width: 350px;
  margin-left: 40px;
  margin-top: 87px;
}

.txt_string{;
  font-family:'Open Sans', sans-serif;
  font-weight: 0,300;
  font-size: 30px;

}

.txt_understring{
  color: #696f7c;
  font-family:'Open Sans', sans-serif;
  font-weight: 0,300;
  font-size: 20px;
  margin-top: 38px;
}

.txt_paragraph{
  color: #696f7c;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 50px;
}

.three_button{
  background-color: rgb(61, 210, 174);
  width: 164px;
  height: 44px;
  border-radius: 50px;
  color: white;
  font-family:'Open Sans', sans-serif;
  font-weight: 1,600;
  margin-top: 45px;
}

.block_four{
  height: 650px;
  width: 1600px;
  background-image: url(img/block_four.png);
  top: -1px;
  z-index: 10;
}

.four_top{
  width: 100%;
 padding-top: 109px;
}

.four_top_string{
  padding-top; 109px;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
  text-align: center;
}

.four_top_paragraph{
  padding-top: 40px;
  padding-left: 215px;
  width: 1090px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 0,400;
  font-size: 16px;
  color: #9da5b0;
}

.four_bottoom{
  width: 100%;
  margin-top: 98px;
}

.four_bottom_img{
  margin-left: 310px;

  background-image: url(img/four_img.png);
  width: 945px;
  height: 235px;
}

.four_bottom_img_txt{
  padding-top: 125px;
  padding-left: 400px;
  padding-right: 400px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
}

.four_ellipsis{
  margin-top: 149px;
  margin-left: 330px;
}

.four_table{
  border: 3px solid white;
  width: 224;
  text-align: center;
  height: 52;
  padding-top: 20;
}

.block_five{
  background-image: url(img/block_five.png);
  width: 1600px;
  height: 535px;
  display: flex;
}

.five_text{
  padding-top: 89px;
  padding-left: 210px;
  display: flex;
}

.five_text_one{
  width: 262px;
}

.five_text_two{
  width: 262px;
  margin-left: 40px;
}


.five_text_string{
  display: flex;
  margin-top: 35px;
}

.five_text_string_number{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #3a4d60;
}

.five_text-string_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.five_text_paragraph{
  margin-top: 28px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #9da5b0;
  line-height: 25px;
}

.block_six{
  background-image: url(img/block_six.png);
  width: 1600px;
  height: 535px;
  display: flex;
}

.six_left{
padding-top: 102px;
padding-left: 210px;
}

.six_icon{
  padding-top: 10px;
}

.six_string_txt{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #2b303b;
}

.six_string{
  display: flex;
}

.six_text{
  width: 460px;
}

.six_paragraph_one{
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #696f7c;
  padding-top: 45px;
}

.six_paragraph_two{
  padding-top: 45px;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #696f7c;
}

.six_right{
  padding-left: 115px;
}

.block_seven{
  width: 1600px;
  height: 762px;
  background-image: url(img/block_six.png);
}

.seven_top_left{
  margin-left: 200px;
  background-image: url(img/seven_img_left.png);
  height: 460px;
  width: 587px;
}

.seven_top_right{
  height: 460px;
  width: 1013px;
  background-image: url(img/seven_top_right.png);
}

.seven_top_right_text{
  padding-top: 75px;
  padding-left: 55px;
}

.seven_top_right_text_date{
  font-family:'Open Sans', sans-serif;
  font-weight: 1,300;
  font-size: 12px;
  color: white;
}

.class_top_right_text_paragraph{
  width: 500px;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: white;
}

.seven_topbottom{
  display:flex;
  padding-top: 39px;
}

.seven_photo_txt{
  font-family:'Open Sans', sans-serif;
  font-size: 15;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
}

.seven_shape_one{
  height: 29px;
  width: 98px;
  background-image: url(img/seven_shape1.png);
  margin-top: 67px;
  color: white;
  font-family:'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.seven_shape_one_txt{
  padding-top: 6px;
}

.block_eight{
  height: 756px;
  width: 1600px;
  background-image: url(img/block_eight.png);
  background-color: #3a4d60;
}

.block_eight_block{
  background-image: url(img/eight_bg.png);
  height: 464px;
  width: 780px;
}

.block_eight_block_one{
  padding-top: 93px;
  padding-left: 210px;
}

.block_footer{
  background-image: url(img/block_footer.png);
  width: 1600px;
  height: 572px;
}

.footer_body{
  padding-left: 210px;
  padding-top: 104px;
  display: flex;
}

.footer_left_1string{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.footer_left_text{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  width: 557px;
  margin-top: 28px;
  line-height: 1.846;
}

.footer_columns{
  display: flex;
  margin-top: 74px;
}

.columns_line{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.columns_ul{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0 0;
}

ul{
  padding: 0 0 0 0;
  list-style-type: none;
}

.columns_2{
  padding-left: 100px;
  padding-right: 100px;
}

.footer_right{
  margin-left: 144px;
}

.footer_right_line{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.footer_mail{
  height: 60px;
  width: 400px;
  padding: 0;
}

.mail_btn{
  height: 60px;
  width: 60px;
  padding: 0;
  background-color: #835fa8;
  background-image: url(img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.form{
  display: flex;
}

.email{
  margin-top: 29px;
}

.footer_right_text{
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  width: 300px;
}

.seven_bottom{
  display: flex;
  margin-left: 196px;
}

.seven_bottom_right{
  background-image: url(img/seven_photo2.png);
  height: 303px;
  width: 585px;
  margin-right: 234px;
}

.block_seven_help{
  display: flex;
}

.seven_bottom_left{
  background-color: white;
  width: 587px;
  height: 300px;
}

.seven_bottom_left_txt1{
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 45px;
  margin-left: 45px;
  width: 387px;
}

.seven_bottom_left_txt2{
  margin-top: 45px;
  margin-left: 45px;
  font-size: 13px;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  width: 492px;
}